<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h2>Σύνδεση</h2>

<form th:action="@{/login}" method="post">

    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Login</button>

    <p th:if="${error}" th:text="${error}" style="color:#a600ff"></p>
    <p th:if="${message}" th:text="${message}" style="color:#e600ff"></p>

</form>

</body>
</html>
